.createAdmin{
    position: absolute;
    top: 150px;
    left: 30%;
    width: 60%;
    border-radius: 5px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.margin{

    padding: 100px;
}
.createAdmin h3{
    border-start-start-radius: 5px;
    border-start-end-radius: 5px;
    color: white;
    padding: 20px 20px;
    background-color: tomato;

}

.createAdmin label{
    color: tomato;
}

.form {
    padding: 30px;
}