.header{
    background-color: lightblue;
    position: relative;
    background-repeat: no-repeat;
    height: 100px;
}
.text{
    position: absolute;
  left: 50%; 
  margin-top: 8vh;
  transform: translate(-50%, -50%);
}
.header2{

    background-color: rgb(235, 181, 189);
    height: 80px;
    color: rgb(41, 30, 30);
    font-size: 18px;
}
.billLine{
    position: relative;
    top: 20px;
}