.header{
    background-color: white;
    position: relative;
    background-repeat: no-repeat;
    color: black;
    padding-bottom: 0.5em;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.text{
    
    position: absolute;
  left: 50%; 
  margin-top: 8vh;
  transform: translate(-50%, -50%);
}

.billLine{
    position: relative;
    top: 20px;
}

.mujiblogo{
    height: 100%;
    position: absolute;
    right: 9em;
}
.cuLogo{
    margin-top: 0.5em;
    position: relative;
    left: 9em;
}