.blank:hover{
    background-color: #f7f7fa !important;
  
}
.hover{
    background-color: #add8e6 !important;
    color: black !important;
    border-bottom:1px solid white;

}
.hover:hover{
    background-color: tomato !important;
    color: white !important;
}
.texthov:hover{
    color: white !important;
}
.block:hover{
    background-color: #add8e6 !important;
}
.texthov{
    display: flex;
}
.logout{
    background-color: #add8e6 !important;
}
.logout:hover{
    background-color: #fff6f6 !important;
}