
.propic{
  height: 10em;
  width: 10em;
  border-radius: 50%;
  border: 2px solid gray;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1em;
}

.styled-table {
  border-collapse: collapse;
  margin: 1em 0 0 2em;
  font-size: 1.2em;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  color: #009879;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

/* .styled-table tbody tr.active-row {
  font-weight: bold;
  
} */
.print-button{
  background-color: #009879;
  color: white;
  width: 6em;
  padding: 5px 10px;
  border-radius: 5px;
}
.print-button:hover{
  background-color: rgb(2, 126, 101);
}

.hideFormData{
  position: relative;
  top:0;
}
@media screen {
  .hideFormData {
     visibility: show;
  }
}
