.main{
    width: 80%;
    border: 1px solid black;
    margin: 2em auto;
    position: relative;
    padding: 2em;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}
.print{
    width: 8em;
    position: relative;
    left: 82%;

    box-shadow: 8px 8px 8px rgba(4,4,4,0.2);
}
.printbutton{
    position: absolute;
    right: 1.5em;
    background-color: #009879;
    padding: 0.2em 3em;
}
.backbutton{
    background-color: #009879;
    padding: 0.2em 3em;
}
.printbutton:hover, .backbutton:hover{
    background-color: rgb(2, 126, 101);
}