.main{
    width: 80%;
    border-radius: 5px;
    margin: 2em auto;
    position: relative;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.print{
    width: 8em;
    position: relative;
    left: 82%;

    box-shadow: 8px 8px 8px rgba(4,4,4,0.2);
}
.printbutton{
    position: absolute;
    right: 1.5em;
    background-color: #009879;
    padding: 0.2em 3em;
}
.backbutton{
    background-color: #009879;
    padding: 0.2em 3em;
}
.printbutton:hover, .backbutton:hover{
    background-color: rgb(2, 126, 101);
}